*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: normal;
  font-family: Roboto, Arial, Sans-Serif;
}

.tagline_title {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.about_us_title {
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
  padding-bottom: 35px;
}

.price_heading, .filter_heading, .contacts_heading {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
}

.product_item_name {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
  margin-bottom: 30px;
}

.filter_heading {
  margin-right: 270px;
}

.net_filter_heading {
  margin-bottom: 20px;
}

.specials_filter_heading {
  margin-bottom: 24px;
}

.container {
  margin: 0 auto;
  width: 1160px;
}

header {
  padding-top: 50px;
}

.header_inner {
  background-color: #eeeeee;
  padding-bottom: 115px;
}

.main_menu {
  display: flex;
}

.main_logo {
  display: block;
  width: 165px;
  height: 66px;
  margin-right: 200px;
  background-repeat: no-repeat;
  background-image: url("../img/nerds_spritesheet.png");
  background-position: -5px -163px;
}

.main_logo:hover {
  background-image: url("../img/nerds_spritesheet.png");
  background-position: -5px -5px;
}

.main_logo:active {
  background-image: url("../img/nerds_spritesheet.png");
  background-position: -176px -5px;
}

.main_navigation {
  padding-top: 25px;
}

.main_list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main_nav_link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  font-weight: normal;
  font-family: Roboto
}

.main_nav_link:hover {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  color: #fb565a;
  font-weight: normal;
  font-family: Roboto
}

.main_nav_link:active {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  color: #c4c4c4;
  font-weight: normal;
  font-family: Roboto
}

.main_list {
  margin-top: 25px;
}

.main_list_item {
  margin-right: 45px;
}

.main_list_item:last-child {
  margin-right: 0;
}

.basket {
  position: relative;
  padding-top: 25px;
  margin-left: auto;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  font-weight: normal;
  font-family: Roboto
}

.basket:hover {
  position: relative;
  padding-top: 25px;
  margin-left: auto;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  color: #fb565a;
  font-weight: normal;
  font-family: Roboto
}

.basket:active {
  position: relative;
  padding-top: 25px;
  margin-left: auto;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  color: #c4c4c4;
  font-weight: normal;
  font-family: Roboto
}

.basket::before {
  position: absolute;
  content: "";
  top: 33px;
  left: -40px;
  width: 15px;
  height: 15px;
  background-image: url("../img/nerds_spritesheet.png");
  background-position: -347px -5px;
  opacity: 0.3;
}

.tagline {
  width: 385px;
}

.products {
  margin-top: 80px;
  display: flex;
}

.product_item {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: 100px;
  padding-bottom: 80px;
}

.product_item_info {
  margin-bottom: 40px;
}

.product_btn {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  font-family: Roboto
}

.site_btn {
  background-color: #fb565a;
}

.app_btn {
  background-color: #00ca74;
}

.presentation_btn {
  background-color: #efc84a;
}

.item_picture {
  margin-bottom: 27px;
}

.main-info {
  display: flex;
  justify-content: space-between;
}

.about_us {
  width: 660px;
}

.statistics {
  width: 360px;
}

.statistics_title {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  font-family: Roboto;
}

.statistic_level {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 45px;
  line-height: 10px;
  font-weight: bold;
  font-family: Roboto;
}

.statistics_container {
  display: flex;
  justify-content: space-between;
}

.clients {
  display: flex;
  justify-content: space-between;
}

.footer_social {
  margin-right: 140px;
}

.page_title {
  margin: 0;
  padding: 0;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  font-weight: normal;
  font-family: Roboto;
  padding-left: 214px;
  padding-right: 214px;
  padding-top: 75px;
}

.main_wrapper {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  width: 760px;
}

.main_flex_container {
  display: flex;
  padding-top: 50px;
  padding-bottom: 60px;
}

.left_sidebar {
  padding-top: 60px;
}

.sidebar_form {
  width: 260px;
}

.price {
  margin-bottom: 60px;
}

.price_heading {
  margin-bottom: 60px;
}

.top_sitebar_container {
  display: flex;
  padding-bottom: 60px;
}

.sort_button {
  outline: none;
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #cacaca;
  font-weight: lighter;
  font-family: Roboto;
}

.current {
  color: #000000;
}

.sort_button:hover {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: #8d8d8d;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: lighter;
  font-family: Roboto;
}

.sort_button:active {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: lighter;
  font-family: Roboto;
}

.sort_nav {
  display: flex;
  list-style: none;
  margin-top: 0;
  padding: 0;
}

.product_sort, .product_sort_current {
  margin-right: 30px;
}

.product_sort:last-child {
  margin: 0;
}

.sort_direction {
  margin-left: auto;
}

.product_container_section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product {
  position: relative;
  margin-bottom: 40px;
  box-shadow: 0 0 5px;
}

.product:hover


.product::before {
  position: absolute;
  content: "";
  top: -41px;
  left: 0;
  width: 360px;
  height: 41px;
  background-image: url("../img/nerds_spritesheet.png");
  background-position: -5px -80px;
}

.paginator_list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.paginator_list_unit {
  margin-right: 15px;
}

.paginator_link {
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  font-family: Roboto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 23px;
  padding-left: 23px;
  background-color: #eeeeee;
  color: #000000;
}

.paginator_link:hover {
  background-color: #dfdfdf;
}

.paginator_link:active {
  background-color: #d5d5d5;
  color: #acacac;
}

.active {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-right: 20px;
  padding-left: 20px;
}

.next_text {
  padding-right: 76px;
  padding-left: 76px;
}

.сontacts {
  padding-top: 55px;
  padding-left: 140px;
  height: 420px;
  background-image: url("../img/main_map.jpg");
  background-repeat: no-repeat;
  background-color: #f1efe8;
}

.contact_adress {
  margin-bottom: 25px;
}

.contacts_information {
  width: 320px;
  padding-top: 54px;
  padding-left: 50px;
  padding-bottom: 70px;
  padding-right: 49px;
  background-color: white;
}

.telephone {
  margin-bottom: 48px;
}

.feedback_link {
  border-radius: 3px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 45px;
  padding-right: 45px;
  background-color: #fb565a;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: normal;
  font-family: Roboto;
  text-decoration: none;
}

.feedback_link:hover {
  background-color: #e74246;
}

.feedback_link:active {
  background-color: #d7373b;
  color: #e07476;
}

.footer_container {
  display: flex;
  padding-top: 70px;
  padding-bottom: 78px;
}

.social_container {
  display: flex;
  margin-right: 140px;
}

.discount_title {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
}

.net_type {
  display: flex;
  flex-direction: column;
}

.specials {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.form_input {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.radio_label, .checkbox_label {
  padding-left: 40px;
  position: relative;
  min-height: 30px;
  margin-bottom: 7px;
}

.radio_label::after, .checkbox_label::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-image: url("../img/nerds_spritesheet.png");
}

.radio_label:hover::after {
  background-repeat: no-repeat;
  background-position: -254px -161px;
}

.checkbox_label:hover::after {
  background-repeat: no-repeat;
  background-position: -38px -130px;
}

.form_input:checked+.radio_label:hover::after {
  background-position: -175px -196px;
}

.form_input:checked+.checkbox_label:hover::after {
  background-position: -108px -130px;
}

.radio_label::after {
  width: 25px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: -219px -161px;
}

.form_input:checked+.radio_label::after {
  background-repeat: no-repeat;
  background-position: -324px -161px;
}

.checkbox_label::after {
  width: 27px;
  height: 23px;
  background-repeat: no-repeat;
  background-position: -5px -130px;
}

.form_input:checked+.checkbox_label::after {
  background-repeat: no-repeat;
  background-position: -145px -130px;
}

.sprite {
  background-image: url(spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-checkbox-off {
  width: 27px;
  height: 23px;
  background-position: -5px -5px;
}

.sprite-checkbox-on {
  width: 27px;
  height: 23px;
  background-position: -5px -38px;
}

.form_submit {
  outline: none;
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 90px;
  padding-right: 90px;
  border-radius: 5px;
  background-color: #eeeeee;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  font-weight: normal;
  font-family: Roboto;
  text-transform: uppercase;
}

.form_submit:hover {
  background-color: #dfdfdf;
}

.form_submit:active {
  background-color: #d5d5d5;
  color: #a9a9a9;
}

.main_nav_link_active {
  position: relative;
}

.main_nav_link_active::before {
  position: absolute;
  left: 0;
  bottom: -15px;
  content: "";
  width: 100%;
  height: 2px;
  background-color: red;
}

.social-btn, .vk, .fb, .inst {
  position: relative;
  background-color: #e1e1e1;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-right: 14px;
}

.social-btn:hover {
  background-color: #e74246;
}

.social-btn:active {
  background-color: #d7373b;
}

.vk::before {
  position: absolute;
  content: "";
  top: 33px;
  left: 27px;
  width: 26px;
  height: 15px;
  background-repeat: no-repeat;
  background-image: url("../img/nerds_spritesheet.png");
  background-position: -245px -215px;
}

.fb::before {
  position: absolute;
  content: "";
  top: 27px;
  left: 33px;
  width: 12px;
  height: 23px;
  background-repeat: no-repeat;
  background-image: url("../img/nerds_spritesheet.png");
  background-position: -347px -30px;
}

.inst::before {
  position: absolute;
  content: "";
  top: 27px;
  left: 30px;
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  background-image: url("../img/nerds_spritesheet.png");
  background-position: -312px -130px;
}

.direction_sort_down, .direction_sort_up {
  position: relative;
  background: transparent;
  outline: none;
  border: none;
}

.direction_sort_down::before {
  position: absolute;
  content: "";
  top: -7px;
  left: 0;
  width: 9px;
  height: 9px;
  background-image: url("../img/nerds_spritesheet.png");
  background-position: -343px -130px;
}

.direction_sort_down:hover::before {
  background-position: -245px -196px;
}

.direction_sort_down:active::before {
  background-position: -264px -196px;
}

.direction_sort_up::before {
  position: absolute;
  content: "";
  top: -7px;
  left: 0;
  width: 9px;
  height: 9px;
  background-image: url("../img/nerds_spritesheet.png");
  background-position: -302px -196px;
}

.direction_sort_up:hover::before {
  background-position: -321px -196px;
}

.direction_sort_up:active::before {
  background-position: -283px -196px;
}

.slider{
    position:relative;
    width:1185px;
    height:400px;
    margin:0 auto;
    border:1px dotted black;
}
.slider-controls{
    position:absolute;
    bottom:95px;
    left:50%;
    width:200px;
    height:10px;
    margin-left:-100px;
    text-align:center;
    border:1px dotted green;
    z-index:1000;
}
.slider-controls i{
    display:inline-block;
    width:4px;
    height:4px;
    margin:0 3px;
    background:white;
    border:3px solid white;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
}
.slider-controls .active{
    background:#c1c1c1;
}

.slide{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
    background-color:rgba(255,255,0,0.1);
}
.slide-text{
    width:380px;
    padding:30px 0;
    color:#283136;
}
.slide-title{
    font-size:36px;
    line-height:1;
    font-weight:bold;
    color:black;
}

.slide .btn{
    display:block;
    width:240px;
    padding:10px 0;
    margin-top:25px;
    font-size:12px;
    color:white;
    text-transform:uppercase;
    text-align:center;
    text-decoration:none;
    background:#fb565a;
    border-radius:3px;
}

.slide:nth-child(1){
    background-image:url('img/slider-bg.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}
.main-info {
  padding-top: 40px;
}

.order_offer {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  font-family: Roboto;
}

.order_list {
  list-style: none;
}

.order-list-item {
  position: relative;
}

.order-list-item::before {
  position: absolute;
  left: -35px;
  bottom: 10px;
  content: "";
  width: 25px;
  height: 2px;
  background-color: red;
}

.clients_link {
  background-image: url("../img/logo-1.png");
}

.range-filter {
  width: 260px;
  margin: 50px auto;
  /* для демонстрации */
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-bottom: 39px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 9px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 165px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 81px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}
