body {
font-size:16pt;
line-height:24pt;
color:#283136;
font-weight:normal;
font-family:roboto;
}

.tagline_title {
  font-size:55pt;
  line-height:55pt;
  color:#000000;
  font-weight:normal;
  font-family:roboto;
  }

.about_us_title {
  font-size:45pt;
  line-height:45pt;
  color:#000000;
  font-weight:normal;
  font-family:roboto;
  }

.price_heading, .filter_heading, .product_name, {
  font-size:18pt;
  line-height:30pt;
  color:#000000;
  font-weight:bold;
  font-family:roboto;
  }
}
