*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: normal;
  font-family: Roboto, Arial, Sans-Serif;
}

.tagline_title {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.about_us_title {
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.price_heading, .filter_heading, .product_name, .contacts_heading {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
}

.filter_heading {
  margin-right: 270px;
}

.net_filter_heading {
  margin-bottom: 20px;
}

.specials_filter_heading {
  margin-bottom: 24px;
}

.container {
  margin: 0 auto;
  width: 1160px;
}

header {
  padding-top: 50px;
}

.header_inner {
  background-color: #eeeeee;
  padding-bottom: 115px;
}

.main_menu {
  display: flex;
}

.main_logo {
  margin-right: 200px;
}

.main_navigation {
  padding-top: 25px;
}

.main_list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main_nav_link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  font-weight: normal;
  font-family: Roboto
}

.main_list {
  margin-top: 25px;
}

.main_list_item {
  margin-right: 45px;
}

.main_list_item:last-child {
  margin-right: 0;
}

.basket {
  padding-top: 25px;
  margin-left: auto;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  font-weight: normal;
  font-family: Roboto
}

.tagline {
  width: 385px;
}

.products {
  display: flex;
}

.product_item {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: 100px;
}

.main-info {
  display: flex;
  justify-content: space-between;
}

.about_us {
  width: 660px;
}

.statistics {
  width: 360px;
}

.statistics_container {
  display: flex;
  justify-content: space-between;
}

.clients {
  display: flex;
  justify-content: space-between;
}

.footer_social {
  margin-right: 140px;
}

.page_title {
  margin: 0;
  padding: 0;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  font-weight: normal;
  font-family: Roboto;
  padding-left: 214px;
  padding-right: 214px;
  padding-top: 75px;
}

.main_wrapper {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  width: 760px;
}

.main_flex_container {
  display: flex;
  padding-top: 50px;
  padding-bottom: 60px;
}

.left_sidebar {
  padding-top: 60px;
}

.sidebar_form {
  width: 260px;
}

.price {
  margin-bottom: 60px;
}

.price_heading {
  margin-bottom: 60px;
}

.top_sitebar_container {
  display: flex;
  padding-bottom: 60px;
}

.sort_button {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-weight: lighter;
  font-family: Roboto
}

.sort_nav {
  display: flex;
  list-style: none;
  margin-right: 50px;
  margin-top: 0;
  padding: 0;
}

.product_sort, .product_sort_current {
  margin-right: 30px;
}

.product_sort:last-child {
  margin: 0;
}

.product_container_section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product {
  margin-bottom: 40px;
}

.paginator_list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.paginator_list_unit {
  margin-right: 15px;
}

.сontacts {
  padding-top: 55px;
  padding-left: 140px;
  height: 420px;
  background-image: url("../img/main_map.jpg");
  background-repeat: no-repeat;
  background-color: #f1efe8;
}

.contacts_information {
  width: 320px;
  padding-top: 54px;
  padding-left: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
  background-color: white;
}

.footer_container {
  display: flex;
  padding-top: 70px;
  padding-bottom: 78px;
}

.social_container {
  display: flex;
  margin-right: 140px;
}

.discount_title {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
}

.net_type {
  display: flex;
  flex-direction: column;
}

.specials {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.form_input {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.radio_label, .checkbox_label {
  padding-left: 40px;
  position: relative;
  min-height: 30px;
  margin-bottom: 7px;
}

.radio_label::after, .checkbox_label::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-image: url(../img/sprite1.png);
}

.checkbox_label::after {
  width: 27px;
  height: 23px;
  background-position: -5px -5px;
}

.form_input:checked+.checkbox_label::after {
  background-position: -42px -5px;
}

.sprite {
  background-image: url(spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-checkbox-off {
  width: 27px;
  height: 23px;
  background-position: -5px -5px;
}

.sprite-checkbox-on {
  width: 27px;
  height: 23px;
  background-position: -42px -5px;
}

.main_nav_link_active {
  position: relative;
}

.main_nav_link_active::before {
  position: absolute;
  left: 0;
  bottom: -15px;
  content: "";
  width: 100%;
  height: 2px;
  background-color: red;
}
