body {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: normal;
  font-family: Roboto, Arial, Sans-Serif;
}

.tagline_title {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.about_us_title {
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.price_heading, .filter_heading, .product_name, {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
}

.container {
  outline: 2px solid red;
}

.header_container {
  outline: 2px solid orange;
  margin-top: 50px;
  margin-left: 140px;
  margin-right: 140px;
}

.main_menu {

  outline: 2px solid yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_logo {

}

.main_navigation {
  outline: 2px solid green;
  width:440px;
}

.main_list {
  display:flex;
  justify-content: space-between;
}

.tagline {
  outline: 2px solid green;
  width:385px;
  height:280px;
  margin-top: 70px;
}
